body{
    background-color: silver;
    width: 700px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.topsection{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    background: #54b5db;
}
.midsection{
    background-color: #d68ab9;
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.bottomsection{
    
    display: flex;
    padding: 20px;
    justify-content: space-around;
background-color: whitesmoke;
}
img{
    width: 130px;
    height: 130px;
}
p{
    text-align: center;
}