.row{
    display: flex;

}
.col{
    background-color: cadetblue;
    flex: 1;
    margin: 20px;
    padding: 10px;
}
.col-1{
    background-color: cadetblue;
    flex: 1;
    margin: 20px;
    padding: 10px;

}

.col-2{
    background-color: cadetblue;
    flex: 2;
    margin: 20px;
    padding: 10px;

}
.col2-5{
    background-color: cadetblue;
    padding: 10px;
    margin: 20px;
flex: 2;    
}
.col3-5{
    background-color: cadetblue;
    padding: 10px;
    margin: 20px;
    flex: 3;
}
